fastapi
uvicorn[standard]
pydantic
torch
numpy
transformers
langchain-huggingface
langchain-core
nltk
accelerate
bitsandbytes
redis
pyfiglet
tqdm
supabase
python-dotenv
openai>=1.0.0
scipy
fastchat